/* .cardPreview * {
  border: 1px solid red;
} */

.card {
  background-color: #036b52;
  border-radius: 9px;
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 500px;
  outline: 9px solid white;
  padding: 7px;
  width: 300px;
}

.attr-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: 40%;
  justify-content: center;
  padding: 20px 6px;
}

.attr-container .card-attr {
  align-items: center;
  background: #f0f2f5;
  border-radius: 9px;
  display: flex;
  height: 2rem;
}

.attr-container span {
  flex: 1;
  text-align: center;
}
